atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

ssh.symlink/known_hosts
ssh.symlink/authorized_keys
ssh.symlink/id_rsa
ssh.symlink/id_rsa.pub
ssh.symlink/agent.env
ssh.symlink/environment-*

subversion.symlink/auth

vim/vim.symlink/plugged/
atom.symlink/nohup.out
atom.symlink/git-time-machine/
atom.symlink/blob-store/
atom.symlink/config.cson
atom.symlink/split-diff

bin/parse_git

vim/localvimrc.vim
