"*":
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "autocomplete-plus": {}
