"*":
  "autocomplete-plus": {}
  core:
    audioBeep: false
    disabledPackages: [
      "wrap-guide"
      "background-tips"
      "exception-reporting"
      "metrics"
      "dev-live-reload"
      "package-generator"
      "welcome"
      "update-package-dependencies"
      "styleguide"
      "linter-chktex"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    packagesWithKeymapsDisabled: [
      "notifications"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "git-plus": {}
  "highlight-selected": {}
  latex:
    alwaysOpenResultInAtom: true
    buildOnSave: true
    builder: "texify"
  "latex-plus":
    ghostscriptBin: "/cygdrive/c/texlive/2015/bin/win32"
    texBin: "/cygdrive/c/texlive/2015/bin/win32"
    texInputs: "/cygdrive/c/texlive/2015/tlpkg"
  "linter-chktex": {}
  "merge-conflicts": {}
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
    scrollAnimation: true
  "pdf-view": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "status-bar": {}
  "sync-settings":
    _analyticsUserId: "b4e5e1d8-12ee-4791-bbb5-c4fc3e5498f3"
    _lastBackupHash: "d86180736993785f13f658dd99f7d4c661088c66"
    gistId: "aae98d6e10c1496c2b03"
    personalAccessToken: "4218d1406d34358d4f08473c73125e20622c4ff3"
    quietUpdateCheck: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
